body{
    padding: 0;
    margin: 0;
    /* background-color: #0a0a0a; */
}

.first_story,
.continue-ingaStory-black_background,
.continue-ingaStory-black_background-second,
.red_container-vagzali,
.inga_story5,
.inga_story6,
.inga_story7,
.inga_story8
{
    margin-top: -5px;
}
.first_section{
    position: relative;
    width: 100%;
}
.continue-ingaStory-black_background,
.continue-ingaStory-black_background-second,
.red_container-vagzali,
.inga_story5,
.inga_story6,
.inga_story7,
.inga_story8
{
    position: relative;
}
/* .main_section{
    background-image: url("./assets/img/sacdeliBack.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}*/
.main_section,.first_story {
    position: relative;
    width: 100%;
} 
.main_section_images_container,
.ingas_story_main_container
{
    position: absolute;
    width: 100%;
    top: 5%;
}

.main_section_background img{
    width: 100%; 
}
.main_cover{
    display: flex;
    justify-content: center;
}
.author_name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.author_name img{
    width: 25%;
    height: 100%;
}
.main_cover img{
    width: 50%;
    height: 100%;
}
.main_section_pharagraph{
    width: 55%;
    background: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 3%;
    margin-top: 20%;
}
.main_section_pharagraph p{
    font-weight: bold;
    font-size: 1vw;
}
.ingas_story_main_container{
    top: 0;
}
.line_decor{
    width:100%;
    top: 0;
    display: flex;
    justify-content: center;
}
.inga_story_title{
    width: 90%;
    margin: 25px auto;
}
.ingaStory_first_text_container{
   
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
}
.inga_first_section{
    display: flex;
    justify-content: space-between;
}
.article1{
    width: 35%;
    display: flex;
    align-items: center;
    background: white;
    height: 100%;
    padding: 20px 35px;
    font-weight: bold;
    font-size: 1vw;
}
.people_image_container{
    width: 45%;
}
.left_side-images-inga,.middle_text-inga,.right_side-images-inga{
    width: 30%;
}
.three-column-section{
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 100%;
    width: 80%;
}
.middle_text-inga{
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    margin: 9% 0;
    font-weight: bold;
    font-size: 1vw;
}
.first-in-street,
.second-in_street-second-container,
.second-in_street,
.story_about_vagzali_title,
.vagzali_third_container
{
    position: absolute;
    top: 0;
    width: 100%;
}

.street-first-container{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

}
.street-article{
    width: 40%;
    display: flex;
    align-items: center;
    background: white;
    height: 100%;
    padding: 20px 35px;
    font-weight: bold;
    font-size: 1vw;
    margin: 10% 0;
}
.first_in_street-title{
    width: 40%;
}
/* .second-in_street-second-container{
    position: absolute;
    top: 0;
} */
.second-in_street-second-container .second_container{
    display: flex;
    width: 80%;
    padding-top: 10%;
    margin: 0 auto;
    justify-content: space-between;
}
.second-in_street-second-container .third_container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.text_middle_container{
    width: 35%;
    display: flex;
    align-items: center;
    background: white;
    height: 100%;
    padding: 20px 35px;
    font-weight: bold;
    font-size: 1vw;
    margin: 10% 0;
}
.keds_left-container,
.text_middle_container
{
    width:30%;
}
.mini_stickers_container{
    height: 100%;
    position: absolute;
    width: 20;
    width: 20%;
    right: 2%;
    top: 80%; 
}
.second-in_street-second-container .forth_container_article{
    width: 35%;
    position: absolute;
    display: flex;
    align-items: center;
    background: white;
    padding: 20px 35px;
    font-weight: bold;
    font-size: 1vw;
    left: 8%;
    bottom: -15%;
}
.story_about_vagzali_title{
    width: 40%;
}
.vagzali_article{
    width: 30%;
    position: absolute;
    display: flex;
    align-items: center;
    background: white;
    padding: 20px 35px;
    font-weight: bold;
    font-size: 1vw; 
}
.vagzali_second_container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15%;
    height: 100%;

    width: 100%;
}
.left_side_card,
.right_side_card{
    position: absolute;
    width: 15%;
}
.left_side_card{
    left: 4%;
    top: 15%;
}
.right_side_card{
    right: 4%;
    top: 1%;
}
.vagzali_third_container{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 60%;
}
.vagzali_third_article{
    width: 17%;
    display: flex;
    align-items: center;
    background: white;
    padding: 20px 35px;
    font-weight: bold;
    font-size: 1vw; 
}
.girl_in_car{
    width: 40%;
} 
.inga_story5-first_container{
    position: absolute;
    width: 70%;
    left: 10%;
    top: -9%;
    display: flex;
    justify-content: space-around;
}
.fetter{
    width: 20%;
}
.inga_story5_article{
    width: 43%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 5% 35px;
    margin-top: 6%;
    font-weight: bold;
    font-size: 1vw;
}
.inga_story5-second_container{
    position: absolute;
    width: 100%;
    display: flex;
    top: 0;
    margin-top: 15%;
    justify-content: center;
}
/* .notebook_patern {
    background-image: url(./assets/img/amonaridi.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    position: relative;
}
.notebook_patern p{
    position: absolute;
    top: 50%;
    width: 43%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5% 35px;
    margin-top: 6%;
    font-weight: bold;
    font-size: 1vw;
} */
.notebook_article{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 6% 37px;
    margin: 19% 0;
    font-weight: bold;
    font-size: 1vw;
}
.inga_story5-third_container{
    position: absolute;
    width: 100%;
    display: flex;
    top: 50%;
    margin: 15% 0;
    justify-content: center;
    align-items: center;
}
.inga_story6-title{
    width: 20%;
    margin-left: 5%;
}
.inga_story6-main-container,.inga_story7-main-container{
    position: absolute;
    top:3%;
}
.inga_story6-first-container,.inga_story6-second-container,.inga_story6-third-container,.inga_story6-forth-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;
}
.inga_story6-first-paragraph{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 2% 5%;
    font-weight: bold;
    font-size: 1vw;
}
.inga_story6-first-image{
    width: 20%;
    margin-top: -11%;
}
.inga_story6-second-image{
    width:20%;
}
.inga_story6-second-paragraph{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 4% 2%;
    font-weight: bold;
    font-size: 1vw;
}
.inga_story6-third-paragraph{
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 4% 2%;
    font-weight: bold;
    font-size: 1vw;
}
.inga_story6-third-container{
    display: flex;
    justify-content: space-evenly;
}
.inga_story6-third-image{
    width: 37%;
}
.inga_story6-forth-paragraph{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 4% 2%;
    font-weight: bold;
    font-size: 1vw;
    margin: 0 auto;
}
/* .inga_story6-forth-container{
    margin-top: 2%;
} */
.inga_story7-main-container,.inga_story8-main-container{
    position: absolute;
    width: 100%;
    top: 2%;
}
.inga_story7-middle-image{
    width:30%;
    margin: auto;
    margin-top: -14%;
}
.inga_story8-middle-image{
    width:30%;
    margin: auto;
    margin-top: -18%;
}
.inga_story7-title,.inga_story8-title{
    width: 35%;
    margin: 3% 0 2% 4%;
}
 .inga_story7-first-notebook-patern{
     width: 88%;
 }
.inga_story7-first-notebook-patern,.inga_story7-second-notebook-patern{
    position: relative;
    text-align: center;
    margin: auto;
}
.inga_story7-second-notebook-patern{
    width: 100%;
}
.inga_story7-first-notebook-patern p{
    width: 33%;
    top: 50%;
    left: 50%;
}
.inga_story7-first-notebook-patern p,.inga_story7-second-notebook-patern p{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1vw;
}
.inga_story7-second-notebook-patern p{
    width: 40%;
    top: 54%;
    left: 55%;
}
.inga_story7-first-container,.inga_story8-first-container{
    display: flex;
    justify-content: space-evenly;
}
.inga_story7-first-container{
    margin-top: 5%;
}
.inga_story7-second-container
{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}
.inga_story7-first-image, .inga_story8-third-image{
    width: 20%;
}
.inga_story7-first-paragraph{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 0 2%;
    font-weight: bold;
    font-size: 1vw;
}

.inga_story7-second-paragraph{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 0 2%;
    font-weight: bold;
    font-size: 1vw;
}
.inga_story7-second-image{
    width: 9%;
}
.inga_story8-first-image,.inga_story8-second-image{
    width: 10%;
    display: flex;
    flex-direction: column;
}
.inga_story8-first-image{
    
    justify-content: space-around;
}
.inga_story8-second-image{
    justify-content: flex-end;
    margin-bottom: 6%;
}
.inga_story8-first-paragraph{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 2% 2%;
    font-weight: bold;
    font-size: 1vw;
}
.inga_story8-second-paragraph{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    padding: 1% 2%;
    font-weight: bold;
    margin:auto;
    font-size: 1vw;
}
.inga_story8-third-image{
    margin: 7% 0 2% 7%;
}
.inga_story8-forth-image{
    width: 45%;
    margin: auto;
}
.inga_story8-third-container{
    margin-top: 7%;
}