@font-face {
    font-family: 'MG Glaho Drunk';
    src: url('MGGlahoDrunk.woff2') format('woff2'),
        url('MGGlahoDrunk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

