@font-face {
    font-family: '3D Unicode';
    src: url('3DUnicode.woff2') format('woff2'),
        url('3DUnicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

