@font-face {
    font-family: 'BPG ExtraSquare Mtavruli';
    src: url('BPGExtraSquareMtavruli.woff2') format('woff2'),
        url('BPGExtraSquareMtavruli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

